.container{
	display: flex;
	flex-direction: column;

	.avatar-local{
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		margin: 10px 0;

		span{
			margin: 0 10px;
		}
	}

	.input{
		margin-left: 40px;
	}
	.emp-content{
		margin-top: 10vh !important;

		p{
			opacity: .6;
		}

		img{
			width: 400px;
		}
	}
}

.forgot{
	text-align: end;
	opacity: .7;
	font-size: 14px;
	cursor: pointer;
}
