.container{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100%;
	margin-top: 10%;
}

header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;

	img {
		width: 18%;
		height: 33%;
	}

	p {
		font-size: 16px;
		font-weight:  bold;
		padding-top: 10px;
		padding-bottom: 30px;
	}

	span{
		width: 80%;
		font-size: 12px;
		text-indent: 15px;
		text-align: justify;
		height: 116px;
		text-justify: inter-word;

		overflow-y: scroll;
		scrollbar-width: 100px;
		::-webkit-scrollbar{
			width: 100px;
		}
	}
}

#body{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	form{

		input {
			width: 100%;
		}

	}
}

.form-group{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group:first-child{
	padding-bottom: 20px;
}

.form-ib-group{
	display: flex;
	flex-direction: column;
	align-items: center;
}
