.form-rs-container{
	display: flex;
	flex-direction: column;

	form{
		display: flex;
		width: 100%;

		input{
			width: 40%
		}

		.btn-inc{
			width: 20%;
		}
	}

	h1{
		align-self: center;
		font-size: 1.4rem;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.input-select{
		margin-bottom: 20px;
	}
	.list-users-selected{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		border: 1px solid #cecece;
		border-radius: 10px;

		#title{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 10px 0;

			span{
				font-size: 1rem;
				font-weight: 400;
			}
		}

		.list-users{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			max-height: 240px;

			li{
				width: 100%;
				max-height: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.btn{
			width: 80%;
			margin: 12px 0;
		}
	}

}
