/*!
 * SPDX-FileCopyrightText: 2020-2024 LibreCode coop and contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
 form{
	display: flex;
	flex-direction: row !important;
	border: 1px solid #cecece;
	align-items: center;

	input{
		border: none;
		width: 100%;
		padding-left: 15px
	}

	button{
		width: 24px;
		height: 24px;
		border: none;
		background-color: transparent;
	}
}
