/*!
 * SPDX-FileCopyrightText: 2020-2024 LibreCode coop and contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
 .libre-table {
	background-color: white;
	color: #363636;

	&.is-fullwidth {
		width: 100%;
	}

	td, th {
		border: 1px solid #dbdbdb;
		border-width: 0 0 1px;
		padding: 0.5em 0.75em;
		vertical-align: top;
	}
	th {
		color: #363636;
	}
	thead {
		background-color: transparent;
		td, th {
			border-width: 0 0 2px;
			color: #363636;
		}
	}
	tfoot {
		background-color: transparent;
		td, th {
			border-width: 2px 0 0;
			color: #363636;
		}
	}
	tbody {
		tr:last-child {
			td, th {
				border-bottom-width: 0;
			}
		}
	}
}

.table-container {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	overflow-y: hidden;
	max-width: 100%;
}
