
#container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.btn-align{
	margin-left: auto;
}

#avatar{
	margin-bottom: 20px;
	color: #fff !important;
	background-color: rgb(30, 120, 193);
	z-index: 2;
}

#password{
	margin-right: 3px;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 10px 0px 10px 0px;
	z-index: 3;
}

form > div{
	width: 100%;
}

input {
	width: 100%;
	background-color: white;
	color: black;
	border-color: white;
}

#tooltip{
	position: relative;

	span{
		width: 160px;
		padding: 8px;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 500;
		opacity: 0;
		transition: opacity 0.4s;
		visibility: visible;
		position: absolute;
		bottom: calc(100% + 12px);
		left: 50%;
	}
}

.group{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	span{
		font-size: 14px;
		color: var(--color-error);
	}
}

.btn{
	margin-top: 10px;
	background-color: #f5f5f5;
	color: #222;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	user-select: none;
	width: 90%;
}

.btn-load{
	background-color: transparent !important;
	font-size: 0;
	pointer-events: none;
	cursor: not-allowed;
	margin-top: 10px;
}

.bg{
	display: flex;
	justify-content: center;
	background: linear-gradient(134.01deg, rgba(196, 196, 196, 0.4) 5.27%, rgba(196, 196, 196, 0.1) 90.05%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	min-width: 400px;
	max-width: 600px;
	border-radius: 5px;
	transition: all;
	transition-duration: 1s;
	position: relative;
	overflow: hidden;
}

.jumbotron{
	background-image: url('../../img/bgCreateUser.jpg');
	background-size: cover;
	-moz-background-size: cover;
	transition: background-position-x;
	transition-duration: 2s;
	overflow: hidden;
	-moz-overflow: hidden;
	background-position: center;
}

@-moz-document url-prefix() {
	.bg::after{
		content: '';
		position:absolute;
		background: rgba( 255, 255, 255, 0.25 );
		box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur( 20.0px );
		border-radius: 5px;
		width: 100%;
		height: 100%;
		z-index: 1;
		filter: blur(20px);
	}
}

@media screen and (max-width: 1300px){
	.jumbotron{
		background-position-x: 60%;
	}
}
@media screen and (max-width: 1300px){
	.jumbotron{
		background-position-x: 70%;
	}
}
@media screen and (max-width: 768px) {
	.jumbotron{
		background-position-x: 30%;
	}
}

@media screen and (max-width: 535px) {
	.bg{
		transition: ease all .5s;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(10px);
	}
	input {
		max-width: 90%;
	}
	#content-vue{
		padding-top: 0px;
	}
	.jumbotron{
		background-position-x: 90%;
		background-image: url('../../img/bgCreateUser-mobile.jpg') !important;
	}
}

@media screen and (max-width: 380px) {
	.bg{
		transition: ease all .5s;
		border-radius: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
	}
	input{
		max-width: 317px;
	}
}

.form-account{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;

	@media (max-width: 750px) {
		width: 80%;
	}

	span{
		font-size: 1rem;
	}

	h2{
		font-size: 1rem;
		line-height: 20px;
		font-weight: normal;
		text-align: justify;
	}

	div{
		width: 100%;
	}
}

.form-password{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	width: 80%;

	h2{
		font-size: 1rem;
		line-height: 20px;
		font-weight: normal;
		text-align: justify;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;

	@media (min-width: 800px) {
		width: 60%;
	}
}

.form-signatures-initials {
	display: flex;
	flex-direction: column;

	.group{
		h2{
			font-size: 1rem;
			line-height: 20px;
			font-weight: normal;
			text-align: justify;
		}
		.container-draw{
			width: 100%;
		}
	}

	.actions-buttons{
		display: flex;
		flex-direction: row;
		margin: 10px;

		button{
			&:first-child{
				margin-right: 30%;
			}
		}
	}
}
