/*!
 * SPDX-FileCopyrightText: 2020-2024 LibreCode coop and contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@use 'table';
@use 'modal-mods';

.flex{display: flex;}

.is-fullwidth{width: 100%;}

.button.is-warning{
	background-color: var(--color-warning, #eca700);
	border-color: var(--color-warning-hover, #f0b933);
	color: var(--color-primary-text, #fff)
}
