.jumbotron{
	background-color: #ECEFFC;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	// height: %;
	width: 100%;

	.image{
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 900px) {
			display: none;
			width: 0%;
		}
	}
	#dataUUID{
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 900px){
			width: 100%;
		}
	}
}

form{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	border: 1px solid var(--color-background-dark);
	max-width: 500px;

	@media screen and (max-width: 900px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}
}

h1{
	font-size: 24px;
	font-weight: bold;
}

h3{
	color: #337ab7;
}

input{
	width: 100%;
	margin: 20px 0px;
	background-color: var(--color-background-dark);
}

button{
	background-color: #0082c9;
	color: #FFF;
	float: right;
	margin-top: 20px;
	&:hover{
		background-color: #286090;
	}
}

.infor{
	display: flex;
	flex-direction: column;
	h1{
		font-size: 2rem;
	}
}

.infor-bg{
	background-color: #FFF;
	padding: 20px 60px;
	border-radius: 8px;
}

.info-document{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	margin-top: 2rem;
	p{
		font-size: 1rem;
	}
	a{
		width: fit-content;
	}
	#sign{
		display: flex;
	}
}

.signed{
	margin-top: 10px;
	padding-right: 2px;
	strong{
		font-size: 22px;
		margin-bottom: 10px;
	}
	button{
		float: right;
	}
}

.scroll{
	max-height: 100px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

