$text-color: #273849;

.jumbotron{
	background-color: #ECEFFC;
	padding: 0;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.image{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 50%;
			max-width: 422px;
		}
		@media screen and (max-width: 900px) {
			display: none;
			width: 0%;
		}

	}
	#dataUUID{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 900px){
			width: 100%;
		}
	}
}

form{
	background-color: #FFF;
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	border: 1px solid var(--color-background-dark);
	max-width: 500px;

	@media screen and (max-width: 900px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}
}

h1{
	font-size: 24px;
	font-weight: bold;
	color: $text-color;
}

h3{
	color: #337ab7;
}

input{
	width: 100%;
	margin: 20px 0px;
	background-color: var(--color-background-dark);
}

button{
	background-color: #0082c9;
	color: #FFF;
	float: right;
	margin-top: 20px;
	&:hover{
		background-color: #286090;
	}
}

.infor{
	display: flex;
	flex-direction: column;
	h1{
		font-size: 2rem;
	}
}

.infor-container{
	margin-right: 20px;
}

.infor-bg{
	background-color: #FFF;
	padding: 20px 60px 20px 20px;
	border-radius: 8px;
}

.info-document{
	color: $text-color;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 30px;
	justify-content: center;
	p{
		font-size: 1rem;
	}
	a{
		width: fit-content;
		align-self: flex-end;
	}
	#sign{
		display: flex;
	}
}

.signed{
	width: 700px;
	height: 300px;
	margin-top: 10px;
	padding-right: 2px;
	strong{
		font-size: 22px;
		margin-bottom: 10px;
	}
	button{
		float: right;
	}
}

.scroll{
	max-height: 200px;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
}

.subscriber{
	display: flex;
	flex-direction: column;
	color: $text-color;
	background-color: #D6D9DC;
	border-radius: 8px;
	padding: 5px 0px 5px 5px;
	margin: 5px 5px 0px 0px;
	width: 330px;
}

.header{
	display: flex;
	margin-bottom: 2rem;
}

.icon{
	width: 30px;
	margin-right: 10px;
}

@media screen and (max-width: 700px) {
	.signed {
		width: 100%;
	}
	.infor-container {
		margin-right: 0px;
		width: 100%;
	}
	.btn-return {
		margin: 5px 0px 0px 0px;
	}
}