$text-color: #273849;
$background: #ECEFFC;
$title-font: 1.5rem;
$title-font-mobile: 1.3rem;
$date-signed-font: .7rem;

.jumbotron{
	background-color: $background;
	padding: 0;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.image{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 50%;
			max-width: 422px;
		}
		@media screen and (max-width: 900px) {
			display: none;
			width: 0%;
		}

	}
	#dataUUID{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 900px){
			width: 100%;
		}
	}
	.legal-information{
		opacity: 0.8;
		align-self: center;
		font-size: 1rem;
		max-height: 100px;
		overflow: scroll;
	}
}

form{
	background-color: #FFF;
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	border: 1px solid var(--color-background-dark);
	max-width: 500px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

	@media screen and (max-width: 900px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}
}

h1{
	font-size: 24px;
	font-weight: bold;
	color: $text-color;
}

h3{
	color: #337ab7;
}

input{
	width: 100%;
	margin: 20px 0px;
	background-color: var(--color-background-dark);
}

button{
	background-color: #0082c9;
	color: #FFF;
	float: right;
	margin-top: 20px;
	&:hover{
		background-color: #286090;
	}
}

.infor{
	display: flex;
	flex-direction: column;
	h1{
		font-size: $title-font;
	}
}

.infor-container{
	margin-right: 20px;
}

.infor-bg{
	background-color: #FFF;
	padding: 20px 60px 20px 20px;
	border-radius: 8px;
	width: 700px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

	.infor-content{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow: scroll;
		height: 80%;
		width: 98%;
	}
}

.info-document{
	color: $text-color;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 30px;
	max-height: 250px;
	justify-content: center;
	overflow: scroll;

	p{
		font-size: 1rem;
	}
	a{
		width: fit-content;
		align-self: flex-end;
	}
	#sign {
		display: flex;
	}
}

.signed {
	width: 700px;
	height: 300px;
	margin-top: 10px;
	padding-right: 2px;
	strong {
		font-size: 22px;
		margin-bottom: 10px;
	}
	button {
		float: right;
	}
}

.scroll {
	max-height: 200px;
	display: flex;
	flex-wrap: wrap;
	min-width: 200px;
	max-width: 200px;
}

.subscriber {
	display: flex;
	flex-direction: column;
	color: $text-color;
	background-color: $background;
	border-radius: 8px;
	padding: 5px 0px 5px 5px;
	margin: 5px 5px 0px 0px;
	min-height: 50px;
	width: 100%;

	.data-signed {
		font-size: $date-signed-font;
	}
	b{
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.header {
	display: flex;
	margin-bottom: 2rem;
	h1{
		font-size: $title-font;
	}
}

.icon{
	width: 30px;
	margin-right: 10px;
}

@media screen and (max-width: 700px) {
	.signed {
		width: 100%;
	}
	.infor-container {
		margin-right: 0px;
		width: 100%;
	}
	.infor-bg {
		box-shadow: none;
	}
	.container {
		align-items: flex-start;
	}
	.infor {
		h1 {
			font-size: $title-font-mobile;
		}
	}
	.header {
		h1 {
			font-size: $title-font-mobile;
		}
	}
}
