name: Behat

on:
  pull_request:
    paths:
      - '.github/workflows/**'
      - 'appinfo/**'
      - 'lib/**'
      - 'templates/**'
      - 'tests/**'
      - 'vendor/**'
      - 'vendor-bin/**'
      - '.php-cs-fixer.dist.php'
      - 'composer.json'
      - 'composer.lock'
  push:
    branches:
      - main
      - stable*

env:
  APP_NAME: libresign

jobs:
  behat:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.0', '8.1', '8.2']
        databases: ['sqlite', 'mysql', 'pgsql']
        server-versions: ['stable28']

    name: php${{ matrix.php-versions }}-${{ matrix.databases }}-${{ matrix.server-versions }}

    services:
      postgres:
        image: postgres:15
        ports:
          - 4445:5432/tcp
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: rootpassword
          POSTGRES_DB: nextcloud
        options: --health-cmd pg_isready --health-interval 5s --health-timeout 2s --health-retries 5
      mysql:
        image: ghcr.io/nextcloud/continuous-integration-mariadb-10.6:latest
        ports:
          - 4444:3306/tcp
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
        options: --health-cmd="mysqladmin ping" --health-interval 5s --health-timeout 2s --health-retries 5
      mailhog:
        image: mailhog/mailhog
        ports:
          - 8025:8025/tcp
          - 1025:1025/tcp

    steps:
      - name: Checkout server
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
        with:
          repository: nextcloud/server
          ref: ${{ matrix.server-versions }}

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Checkout app
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
        with:
          path: apps/${{ env.APP_NAME }}

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@d30ad8b1843ace22e6698ab99bbafaa747b6bd0d # 2.24.0
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phpunit
          extensions: mbstring, iconv, fileinfo, intl, imagick, sqlite, pdo_sqlite, mysql, pdo_mysql, pgsql, pdo_pgsql,
          coverage: none

      - name: Set up dependencies
        working-directory: apps/${{ env.APP_NAME }}
        run: |
          composer install --no-dev
          composer --working-dir=tests/integration install

      - name: Install Ghostscript
        run: |
          sudo apt-get update
          sudo apt-get install ghostscript

      - name: Set up Nextcloud
        run: |
          if [ "${{ matrix.databases }}" = "mysql" ]; then
            export DB_PORT=4444
          elif [ "${{ matrix.databases }}" = "pgsql" ]; then
            export DB_PORT=4445
          fi
          sudo echo "127.0.0.1 mailhog" | sudo tee -a /etc/hosts
          mkdir data
          ./occ maintenance:install \
            --verbose \
            --database=${{ matrix.databases }} \
            --database-name=nextcloud \
            --database-host=127.0.0.1 \
            --database-port=$DB_PORT \
            --database-user=root \
            --database-pass=rootpassword \
            --admin-user=admin \
            --admin-pass=admin
          ./occ app:enable ${{ env.APP_NAME }}
          git clone --depth 1 -b ${{ matrix.server-versions }} https://github.com/nextcloud/notifications apps/notifications
          ./occ app:enable --force notifications
          ./occ config:system:set mail_smtpport --value 1025 --type integer
          ./occ config:system:set mail_smtphost --value mailhog
          ./occ config:system:set allow_local_remote_servers --value true --type boolean

      - name: Run behat
        working-directory: apps/${{ env.APP_NAME }}/tests/integration
        env:
          BEHAT_ROOT_DIR: ../../../../
        run: |
          export BEHAT_RUN_AS=$(ls -ld behat.yml | awk '{print $3}')
          export BEHAT_VERBOSE="$RUNNER_DEBUG"
          vendor/bin/behat -f junit -f pretty --colors
