<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         cacheDirectory="../../build/logs/.phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="api">
      <directory suffix="Test.php">Api</directory>
    </testsuite>
    <testsuite name="unit">
      <directory suffix="Test.php">Unit</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="../../build/logs/clover.xml"/>
      <html outputDirectory="../../build/logs/html-coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">../../lib</directory>
    </include>
    <exclude>
      <directory suffix=".php">../../lib/Migration</directory>
    </exclude>
  </source>
</phpunit>
